.article {
  background-color: beige;
  a {
    color: gray;
  }
  #content {
    margin-top: 12px;
    white-space: pre;
  }
  #avatarBox {
    position: relative;
  }
  #goodBtn,
  #badBtn {
    cursor: pointer;
    &:hover {
      background-color: brown;
      border-radius: 50%;
    }
  }
}
