<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/HEAD.ejs")%>
    <script defer src="/public/js/changepassword.js"></script>
    <title>Code:Me Change Password</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs") %>
    <div class="container">
      <h3>🚦 Change Password</h3>
      <form action="" method="put">
        <input
          type="password"
          id="currentPassword"
          name="currentPassword"
          placeholder="Plese write current password"
        />
        <input
          type="password"
          id="newPassword1"
          name="newPassword1"
          placeholder="Plese write new password"
        />
        <input
          type="password"
          id="newPassword2"
          name="newPassword2"
          placeholder="Plese verify the new password"
        />
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </body>
</html>
