#commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #commentToolBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    #replyBtn {
      font-size: 25px;
      margin: 0 10px;
      color: gold;
      cursor: pointer;
    }
    #commentToolEditBtn {
      font-size: 25px;
      color: tomato;
      cursor: pointer;
    }
    #commentDeleteBtn {
      cursor: pointer;
    }
  }
}

#commentBody {
  position: relative;
  #editDIV {
    form {
      width: 350px;
      display: flex;
      justify-content: space-between;
      input {
        background-color: white;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 10px 0 0 10px;
        width: 100%;
      }
      button {
        border: none;
        outline: none;
        background-color: tomato;
        border-radius: 0 10px 10px 0;
        color: white;
        padding: 0 5px;
      }
    }
  }
}
